
.utama{
  background-color: aqua;
  position: fixed; /* Keep it as relative */
  height: 1864px;
  width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.parent {
  background-color: black;
  position: absolute; /* Keep it as relative */
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child1{
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.child2{
  background-color: rgb(185, 29, 29);
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
